In [1]:
import os

import numpy as np
import pandas as pd

In [2]:
def load_data():

    base_path = '/Users/adam/git/research/AEMO/data/Hilary/processed_data/MMSDM/PUBLIC_'

    names = ['DVD_DISPATCHPRICE', 'DVD_TRADINGPRICE', 
             'DVD_P5MIN_REGIONSOLUTION']

    paths = [os.path.join(base_path+name,'3_processed_numeric.csv') 
             for name in names]

    csvs = {name: pd.read_csv(path, index_col=0, parse_dates=True) 
            for name, path in zip(names, paths)}
    
    for k, v in csvs.items():
        print('{} shape {}'.format(k, v.shape))
        print('start {}'.format(v.index[0]))
        print('end {}'.format(v.index[-1]))
        
    return csvs

In [3]:
csvs = load_data()

DVD_DISPATCHPRICE shape (885600, 5)
start 2009-07-01 00:00:00
end 2017-11-30 23:55:00
DVD_TRADINGPRICE shape (885595, 5)
start 2009-07-01 00:25:00
end 2017-11-30 23:55:00
DVD_P5MIN_REGIONSOLUTION shape (885600, 84)
start 2009-07-01 00:00:00
end 2017-11-30 23:55:00

In [4]:
dispatch = csvs['DVD_DISPATCHPRICE']
dispatch.describe()

,RRP NSW1 offset 0 HH PUBLIC_DVD_DISPATCHPRICE,RRP QLD1 offset 0 HH PUBLIC_DVD_DISPATCHPRICE,RRP SA1 offset 0 HH PUBLIC_DVD_DISPATCHPRICE,RRP TAS1 offset 0 HH PUBLIC_DVD_DISPATCHPRICE,RRP VIC1 offset 0 HH PUBLIC_DVD_DISPATCHPRICE
count,885600.000000,885600.000000,885600.000000,885600.000000,885600.000000
mean,50.187004,54.186931,58.909727,51.630213,45.352844
std,198.626502,313.657383,329.208338,135.775853,155.264353
min,-1000.000000,-1000.000000,-1000.000000,-1000.000000,-1000.000000
25%,26.850200,24.729940,26.361955,26.661923,24.200000
50%,37.955285,37.100000,39.455725,37.746625,35.399980
75%,53.010000,54.239983,58.119500,51.740000,50.534165
max,14000.000000,14000.000000,14000.000000,14000.000000,13800.000000

In [5]:
#  going to use a naive way to do cumulative average dispatch price
dispatch_sa = dispatch.iloc[:,2]

In [6]:
cum_mean, vals = [], []

for idx in range(dispatch_sa.shape[0])[::6]:
    data = dispatch_sa.iloc[idx:idx+6]
    
    for j, val in enumerate(data.values):

        if j == 0:
            vals.append(val)
            cum_mean.append(val)

        else:
            vals.append(val)
            cum_mean.append(np.mean(vals))
        
    vals = []

In [7]:
cum_mean = pd.Series(cum_mean, index=dispatch.index)
cum_mean.head()

SETTLEMENTDATE
2009-07-01 00:00:00    16.730280
2009-07-01 00:05:00    17.275385
2009-07-01 00:10:00    17.557977
2009-07-01 00:15:00    17.574397
2009-07-01 00:20:00    17.326336
dtype: float64

In [8]:
dispatch_sa.head()

SETTLEMENTDATE
2009-07-01 00:00:00    16.73028
2009-07-01 00:05:00    17.82049
2009-07-01 00:10:00    18.12316
2009-07-01 00:15:00    17.62366
2009-07-01 00:20:00    16.33409
Name: RRP SA1 offset 0 HH PUBLIC_DVD_DISPATCHPRICE, dtype: float64

In [9]:
csvs['DVD_TRADINGPRICE'].head()

,RRP NSW1 offset 0 HH PUBLIC_DVD_TRADINGPRICE,RRP QLD1 offset 0 HH PUBLIC_DVD_TRADINGPRICE,RRP SA1 offset 0 HH PUBLIC_DVD_TRADINGPRICE,RRP TAS1 offset 0 HH PUBLIC_DVD_TRADINGPRICE,RRP VIC1 offset 0 HH PUBLIC_DVD_TRADINGPRICE
SETTLEMENTDATE,,,,,
2009-07-01 00:25:00,19.39,17.84,16.43,14.38,13.98
2009-07-01 00:30:00,17.06,15.99,11.94,11.04,12.80
2009-07-01 00:35:00,17.06,15.99,11.94,11.04,12.80
2009-07-01 00:40:00,17.06,15.99,11.94,11.04,12.80
2009-07-01 00:45:00,17.06,15.99,11.94,11.04,12.80

In [10]:
trad_sa = csvs['DVD_TRADINGPRICE'].loc[:,'RRP SA1 offset 0 HH PUBLIC_DVD_TRADINGPRICE']

output = pd.concat([dispatch_sa,
                    cum_mean,
                    trad_sa], axis=1).dropna()

output.columns = ['C_SA_dispatch_price_[$/MWh]',
                  'C_cumulative_mean_dispatch_[$/MWh]',
                  'C_electricity_price_[$/MWh]']

output['C_hour'] = output.index.hour

output.head(13)

,C_SA_dispatch_price_[$/MWh],C_cumulative_mean_dispatch_[$/MWh],C_electricity_price_[$/MWh],C_hour
SETTLEMENTDATE,,,,
2009-07-01 00:25:00,11.96153,16.432202,16.43,0
2009-07-01 00:30:00,11.89967,11.899670,11.94,0
2009-07-01 00:35:00,12.05979,11.979730,11.94,0
2009-07-01 00:40:00,12.18630,12.048587,11.94,0
2009-07-01 00:45:00,11.55879,11.926137,11.94,0
2009-07-01 00:50:00,11.86709,11.914328,11.94,0
2009-07-01 00:55:00,12.05459,11.937705,11.94,0
2009-07-01 01:00:00,17.31730,17.317300,15.41,1
2009-07-01 01:05:00,17.33898,17.328140,15.41,1
2009-07-01 01:10:00,15.14442,16.600233,15.41,1
2009-07-01 01:15:00,14.54095,16.085413,15.41,1
2009-07-01 01:20:00,13.78615,15.625560,15.41,1
2009-07-01 01:25:00,14.31225,15.406675,15.41,1

In [11]:
output.to_csv('state.csv')

output.to_csv('observation.csv')

In [12]:
cum_mean[cum_mean > 200]

SETTLEMENTDATE
2009-09-11 19:20:00    2016.903970
2009-09-11 19:25:00    3347.419975
2009-10-06 11:15:00     209.518538
2009-10-06 11:20:00     219.335858
2009-10-06 11:25:00     202.818267
2009-10-29 15:30:00     305.200000
2009-10-29 15:40:00     226.500000
2009-10-29 15:45:00     246.175000
2009-10-29 15:50:00     206.245328
2009-10-29 15:55:00     222.737773
2009-10-29 16:45:00    2538.543453
2009-10-29 16:50:00    2039.430428
2009-10-29 16:55:00    1706.304887
2009-11-02 13:25:00    1716.880137
2009-11-02 13:30:00    9999.770050
2009-11-02 13:35:00    9999.770050
2009-11-02 13:40:00    9999.706717
2009-11-02 13:45:00    9999.722550
2009-11-02 13:50:00    9999.732050
2009-11-02 13:55:00    9999.738383
2009-11-02 14:05:00     560.368360
2009-11-02 14:10:00     387.148137
2009-11-02 14:15:00     300.707900
2009-11-02 14:20:00     247.804264
2009-11-02 14:25:00     212.422093
2009-11-09 16:00:00     299.100000
2009-11-09 16:05:00     205.627070
2009-11-10 13:30:00     227.616120
2009-11-10 13:35:00     248.965650
2009-11-10 13:40:00     255.670893
                          ...
2017-11-30 11:20:00     282.907912
2017-11-30 11:25:00     283.795692
2017-11-30 11:40:00     215.907290
2017-11-30 11:45:00     234.680248
2017-11-30 11:50:00     221.366606
2017-11-30 11:55:00     214.949075
2017-11-30 12:00:00     289.931990
2017-11-30 12:05:00     294.126215
2017-11-30 12:10:00     256.095340
2017-11-30 12:15:00     228.421505
2017-11-30 12:20:00     211.817204
2017-11-30 12:25:00     200.747670
2017-11-30 13:40:00     221.610983
2017-11-30 13:45:00     239.104325
2017-11-30 13:50:00     235.389124
2017-11-30 13:55:00     226.702240
2017-11-30 14:00:00     281.152570
2017-11-30 14:05:00     295.408115
2017-11-30 14:10:00     310.012320
2017-11-30 14:15:00     303.941102
2017-11-30 14:20:00     279.818952
2017-11-30 14:25:00     268.317345
2017-11-30 14:30:00     217.397560
2017-11-30 14:35:00     256.732410
2017-11-30 14:40:00     270.377043
2017-11-30 14:45:00     287.304558
2017-11-30 14:50:00     265.211922
2017-11-30 14:55:00     249.172042
2017-11-30 15:30:00     250.861845
2017-11-30 15:35:00     211.530608
Length: 13513, dtype: float64

In [13]:
output.shape

(885595, 4)

In [14]:
100*(8540 / 493051)

1.7320723414007884