In [1]:
import pandas as pd
import numpy as np

from energy_py import DiscreteSpace, ContinuousSpace, GlobalSpace
from energy_py.agents import Memory

In [2]:
observation_space = GlobalSpace([ContinuousSpace(50,100),ContinuousSpace(50,100)])
action_space = GlobalSpace([ContinuousSpace(50,100)])
discount = 0.9

mem = Memory(observation_space,
             action_space,
             discount,
             memory_length=10)

In [3]:
for step in range(100):
    obs = observation_space.sample()
    action = action_space.sample()
    reward = 1
    next_obs = observation_space.sample()
    terminal=np.random.choice([True,False]),
    step=step,
    episode=3
    mem.add_experience(obs, action, reward, next_obs, terminal, step, episode)

In [4]:
mem.actions.shape

(100, 1)

In [5]:
batch = mem.get_episode_batch(3)
batch['actions']

array([[ 75.44135672],
       [ 95.4076053 ],
       [ 64.7950337 ],
       [ 75.01474844],
       [ 69.01876414],
       [ 69.61365745],
       [ 77.60729841],
       [ 88.79957397],
       [ 83.58716304],
       [ 85.4471454 ],
       [ 87.63353898],
       [ 80.03774892],
       [ 85.83012343],
       [ 89.2729168 ],
       [ 86.81872392],
       [ 82.63227843],
       [ 85.09410421],
       [ 76.09716905],
       [ 84.96578743],
       [ 80.86574863],
       [ 68.109487  ],
       [ 93.12630218],
       [ 91.67649063],
       [ 93.07427632],
       [ 95.74721419],
       [ 86.90791997],
       [ 70.35875536],
       [ 89.52805292],
       [ 91.53106557],
       [ 97.13211847],
       [ 92.5848478 ],
       [ 72.82901197],
       [ 72.94081575],
       [ 95.30712074],
       [ 78.78594696],
       [ 61.49241248],
       [ 76.14614884],
       [ 53.36284093],
       [ 86.53973504],
       [ 72.91004141],
       [ 92.02900765],
       [ 71.49104692],
       [ 95.43210896],
       [ 78.63132842],
       [ 94.37281628],
       [ 78.03666566],
       [ 59.81040972],
       [ 94.42481649],
       [ 82.42397058],
       [ 99.28673984],
       [ 80.41205697],
       [ 84.35621345],
       [ 60.56953192],
       [ 60.9583267 ],
       [ 83.42535864],
       [ 64.87555285],
       [ 54.57508315],
       [ 68.08266211],
       [ 70.82122272],
       [ 53.45801771],
       [ 89.68881011],
       [ 79.1128788 ],
       [ 96.45164847],
       [ 76.93704435],
       [ 56.50999895],
       [ 67.24949713],
       [ 69.79279201],
       [ 87.1447431 ],
       [ 89.0119682 ],
       [ 55.08586838],
       [ 62.05434172],
       [ 57.05766865],
       [ 66.28547825],
       [ 99.048978  ],
       [ 83.28839567],
       [ 57.99075983],
       [ 76.72651093],
       [ 67.56370902],
       [ 79.17978328],
       [ 55.86976019],
       [ 80.9967826 ],
       [ 83.37838378],
       [ 70.12599242],
       [ 64.6373938 ],
       [ 87.02592501],
       [ 94.04203263],
       [ 57.80070522],
       [ 66.22177523],
       [ 77.35034023],
       [ 92.61977353],
       [ 67.26138953],
       [ 86.35590083],
       [ 61.50341524],
       [ 63.2569032 ],
       [ 66.90057806],
       [ 97.71013335],
       [ 69.42158399],
       [ 70.09334987],
       [ 52.10577175],
       [ 77.45087699]])

In [6]:
batch = mem.get_random_batch(4)
batch

{'actions': array([[ 69.42158399],
        [ 66.90057806],
        [ 97.71013335],
        [ 66.90057806]]), 'next_obs': array([[ 69.31036646,  80.6157692 ],
        [ 96.43104216,  83.32657982],
        [ 94.94698819,  79.91584032],
        [ 96.43104216,  83.32657982]]), 'obs': array([[ 84.26254824,  53.24641235],
        [ 52.05254845,  86.31330052],
        [ 56.77589046,  70.78058502],
        [ 52.05254845,  86.31330052]]), 'rewards': array([[ 1.],
        [ 1.],
        [ 1.],
        [ 1.]], dtype=float32), 'terminal': array([[False],
        [False],
        [False],
        [False]], dtype=bool)}

In [7]:
mem.num_exp

100

In [8]:
mem.actions.shape

(100, 1)

In [10]:
mem.actions[99]

array([ 77.45087699])

In [11]:
out = mem.output_results()

/home/adam/anaconda3/envs/energy_py/lib/python3.5/site-packages/energy_py-2.0-py3.5.egg/energy_py/agents/memory.py:273: FutureWarning: pd.rolling_std is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(min_periods=1,window=1,center=False).std()
  min_periods=1)

In [13]:
out['df_ep']

,obs_0,obs_1,act_0,reward,obs_0,obs_1,step,cum max reward,rolling mean,rolling std
episode,,,,,,,,,,
3,7224.449446,7360.937246,7749.85367,100.0,7385.397441,7348.124002,4950,100,100.0,NaN